<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Get All Sent Invitations</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.min.css'))}}"/>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Sent Invitations <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Invited </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
      </nav>
    <div>
	<h3>CREATE POST</h3>	
	<a href="{{ absolute_url(asset(''))}}app_dev.php/api/getAll/{{app.request.attributes.get('_route_params').id}}" class="btn btn-success btn-xs">Back</a>

	<div>{{ form_start(form) }}</div>
	<div>{{ form_widget(form) }}</div>
	<div>{{ form_end(form) }}</div>
    </div>
  </body>
</html>



      