<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Get All Sent Invitations</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.min.css'))}}"/>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Sent Invitations <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Invited </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
      </nav>
    <div>
      <h2 >{{ dump(app.request.attributes.get('_route_params').id) }}</h2> 
      <h3>{{ dump(app.request.attributes) }}</h3>
        <a href="{{ absolute_url(asset(''))}}app_dev.php/create/{{app.request.attributes.get('_route_params').id}}" class="btn btn-primary">Create</a>
      <h3></h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sent Invitations</th>
            <th scope="col">Id</th>
            <th scope="col">Sender Name</th>
            <th scope="col">Invited Name</th>
            <th scope="col">Message</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr class="table-active">
            <th scope="row"></th>
            <td>{{post.id}}</td>
            <td>{{post.sendername}}</td>
            <td>{{post.invitedname}}</td>
            <td>{{post.message}}</td>
            <td>{{post.status}}</td>
            <td>
              <a href="{{ absolute_url(asset(''))}}app_dev.php/edit_invitation_status/{{post.id}}" class="btn btn-success btn-xs">Edit</a>
              <a href="" class="btn btn-danger btn-xs">Cancel Invitation</a>
            </td>
          </tr>
          {% else %}
          <tr>
            <td>No Records found!</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>



      